<ion-header>
  <ion-navbar>
    <ion-title>Xibay Authentication</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="!isOTPSent" align="center">
    <p>Please enter your phone number <b>without</b> using country code and click on SEND OTP button. After that an OTP will be send on your phone number to validate the correct user.<br/><span style="font-size: 10px;">*Charges may apply.</span></p>
    <ion-note>Like : "9290XXXXXX"</ion-note>
    <ion-input type="tel" placeholder="Phone number" [(ngModel)]="phoneNumber"></ion-input>
    <p *ngIf="message" style="color: crimson;font-size: 14px">{{message}}</p>
    <p></p>
    <button ion-button (click)="validatePhoneNumber()" round outline [disabled]="sendInnerHtml != 'Send OTP'" >{{sendInnerHtml}}</button>    
  </div>

  <div *ngIf="isOTPSent">
    <p>We have sent a 6-digit OTP to the phone number <b>"{{this.phoneNumber}}"</b>. In case OTP not received then click on Resend OTP button or change phone number in case of wrong number entered.</p>
    <ion-input type="number" placeholder="Enter OTP" [(ngModel)]="code"></ion-input>
    <p *ngIf="message" style="color: crimson;font-size: 14px">{{message}}</p>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="validateOTP()" round outline [disabled]="verifyInnerHtml != 'Verify OTP'">{{verifyInnerHtml}}</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="sendOTP()" round outline [disabled]="timeLeft > 0">Resend OTP <span *ngIf="timeLeft>0">: {{timeLeft | date:'mmss'}}</span></button>
        </ion-col>
    </ion-row>
    <p><a (click)="editPhoneNumber()">Change phone number?</a></p>
  </div>
</ion-content>
<ion-footer>
    <button ion-button block (click)="verifyWithoutOtp()">Developer</button>
</ion-footer>
