<ion-header>
  <ion-navbar>
    <ion-title>Xibay Authentication</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div [hidden]="otpStatus >= 4" align="center">
    <p>Please enter your phone number <b>without</b> using country code and click on SEND OTP button. After that an OTP will be send on your phone number to authenticate the correct phone number.<br/><span style="font-size: 10px;">*Charges may apply.</span></p>
    <ion-note>Like : "9290XXXXXX"</ion-note>
    <ion-input type="number" #phoneNumberInput [disabled]="canEditPhoneNumber == false"  placeholder="Phone number" [(ngModel)]="phoneNumber"></ion-input>
    <p *ngIf="message" style="color: crimson;font-size: 14px">{{message}}</p>
    <p></p>
    <button ion-button (click)="validatePhoneNumber()" round outline [disabled]="otpStatus == 1 || otpStatus == 2" >{{btnText[otpStatus]}}</button>    
  </div>

  <div [hidden]="otpStatus <= 3">
    <p>We have sent a 6-digit OTP to the phone number <b>"{{this.phoneNumber}}"</b>. In case OTP not received then click on Resend OTP button or change phone number in case of wrong number entered.</p>
    <ion-input type="number" placeholder="Enter OTP" [(ngModel)]="code"></ion-input>
    <p *ngIf="message" style="color: crimson;font-size: 14px">{{message}}</p>
    <ion-row>
      <ion-col>
        <button ion-button block (click)="validateOTP()" round outline [disabled]="otpStatus == 5 || otpStatus == 6">{{btnText[otpStatus]}}</button>
      </ion-col>
      <ion-col>
        <button ion-button block (click)="resendOTP()" [disabled]="resendBtnDisabled" round outline >{{btnTextResendOtp}}</button>
        </ion-col>
    </ion-row>
    <p><a *ngIf="canEditPhoneNumber==true" (click)="editPhoneNumber()">Change phone number?</a></p>
  </div>
  <div align="center" style="margin-top: 40px">
    <button ion-button round outline (click)="verifyWithoutOtp()">Developer</button>
  </div>
</ion-content>