<ion-header>

  <ion-navbar>
    <ion-title>Xibay Developer</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #content>
    <div class="canvas" [align]="convertDir(m.align)" *ngFor="let m of messages">
      <div class="message-box" >
        {{m.message}}
        <p style="text-align: right;font-size: 8px;"><i>{{convertTime(m.time) | date:'MMM d, h:mm a'}}&nbsp;&nbsp;<ion-icon [name]="myIcon(m.status)" [color]="myColor(m.status)" *ngIf="convertDir(m.align) == 'right'"></ion-icon></i></p>
      </div>
    </div>
</ion-content>

<ion-footer padding>
  <div class="type-box">
    <div class="input-message">
      <ion-textarea #input  spellcheck="true" autoComplete="true" autocorrect="true" (keyup.enter)="sendMessage()" placeholder="Say something..." rows="1" [(ngModel)]="query" ></ion-textarea>
    </div>
    <div class="send-button" (click)="sendMessage()">
      <ion-icon name="ios-send-outline"></ion-icon>
    </div>
      <!-- <ion-item no-padding>
          <ion-textarea #input placeholder="Say somthing..." rows="1" [(ngModel)]="query"></ion-textarea>
          <div (click)="sendMessage()" style="width:300px;height:300px">
              <ion-icon name="ios-send-outline"></ion-icon>
          </div>
      </ion-item> -->
  </div>  
</ion-footer>