<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()" color="background_white">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Useful for me
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter($event)">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar no-border-top>
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="searchQuery()"
                   placeholder="Search">
    </ion-searchbar>
    <div *ngIf="searchList">
      <ion-list>
        <ion-item *ngFor="let item of searchList">
          <h4>{{item.title}}</h4>
        </ion-item>
      </ion-list>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingText="Pull to refresh"
    refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  
  <div *ngIf="this.items.length == 0 && networkConnected ==true" align="center">
    <h4>OOPs! No more product found  :-(</h4>
    <ion-note><img style="width:200px;height:200px;" src="assets/imgs/empty.jpg"/><br/>Sorry! We are currently running out of stock</ion-note>
  </div>

  <div align="center" *ngIf="networkConnected == false">
    <img src="/assets/imgs/no-internet.png" style="max-width: 300px;width:20%;height:20%;max-height: 300px;margin-top: 50px" imageViewer/>
    <p>No Internet connection!</p>
  </div>
  <div>
    <ion-card *ngFor="let item of items, let id=index" (click)="showDescription(item)">
        
      <ion-item>
          <ion-avatar item-start>
            <img [src]="item.user_image_url" imageViewer>
          </ion-avatar>
          <h2>{{item.username_fk}}</h2>
          <p>{{item.user_year}}, {{item.user_branch}}</p>
          <ion-note>{{this.convertTime(item.created) | amTimeAgo}}</ion-note>
      </ion-item>

      <img [src]="item.image_url">

      <ion-card-content>
        <ion-item>
            <ion-icon [hidden]="isUseful(item.useful_branch,item.useful_year)" ios="ios-star" md="md-star" color="primary" item-end></ion-icon>
            <p style="font-size:18px;" align="center"><b>{{item.title}}</b></p>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <p *ngIf="noRecords" padding align="center">
      No more products !
    </p>
  </div>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())" *ngIf="!noRecords">
    <ion-infinite-scroll-content 
    loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>


  <ion-fab bottom end>
    <button ion-fab (click)="gotoSecondaryPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>