<ion-header>
  <ion-navbar>
    <ion-title>{{this.item.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <img [src]="item.image_url" style="width:100%" imageViewer />

    <div padding>
      <p ><b>Description :</b></p>
      <p style="font-style: oblique">{{this.item.description}}</p>
      <p><b>Category :</b> {{item.category_name}}</p>
      
      <div *ngIf="item.is_hidden==0">
        <ion-item>
          <p><b>Requests for this product :</b> {{requests.length}}</p>
          <button ion-button clear item-end (click)="refresh()">
            <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>&nbsp;&nbsp;Refresh</button>
        </ion-item>
        <ion-list no-lines>
          <ion-item *ngFor="let request of requests">
            <ion-avatar item-start>
              <img [src]="request.user_image_url" imageViewer/>
            </ion-avatar>
            <p>{{request.name}}</p>
            <p>{{request.branch}}, {{request.year}}</p>
            <button ion-button clear item-end (click)="accept(request)">Accept</button>
          </ion-item>
        </ion-list>
      </div>

      <div *ngIf="item.is_hidden==1 && choosen_user">
        <h3>Accepted User</h3>
        <ion-item *ngIf="choosen_user">
          <ion-avatar item-start>
            <img [src]="choosen_user.user_image_url" imageViewer/>
          </ion-avatar>
          <p>{{choosen_user.name}}</p>
          <p>{{choosen_user.year}} , {{choosen_user.branch}}</p>
          <p>Contact details : {{choosen_user.phone_number}}</p>
        </ion-item>
        <ion-note style="padding-top:50px">Note : Kindly note that this product will be deleted after 3 days and these details too. So please contact <span style="color: black;">{{choosen_user.name}}</span> as soon as possible.</ion-note>
      </div>

    </div>
</ion-content>