
  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

      <ion-header no-border>
          <ion-toolbar color="background_white">
            <ion-item no-lines style="text-align: center">
              <img src="assets/imgs/logo.png" style="width:80px;height:80px;border-radius: 50%;margin:0px"/>
                <div style="text-align: center;margin:0px">
                    <b>Xibay</b><br/>E<b>X</b>change <b>I</b>n a <b>B</b>etter W<b>AY</b>
                </div>
              </ion-item>
          </ion-toolbar>
        </ion-header>

    <ion-content class="outer-content">
      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPagesLogOut" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose (click)="openPage(p)" *ngFor="let p of loggedOutPages">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Help
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of permanentPages" (click)="openPage(p)" >
            <ion-icon *ngIf="p.icon" item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
            <img *ngIf="p.image_icon" [src]="p.image_icon" item-start style="height:28px;width:28px;border-radius: 50%;margin-right:30px"/>
            {{p.title}}
          </button>
      </ion-list>

    </ion-content>

    <!-- <ion-footer>
      <ion-toolbar>
        v18.4.0
      </ion-toolbar>
    </ion-footer> -->

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header no-border>
      <ion-toolbar color="background_white">
        <ion-item *ngIf="user" no-lines style="text-align: center">
          <img [src]="user.user_image_url" style="width:80px;height:80px;border-radius: 50%;margin:0px"/>
            <div style="text-align: center;margin:0px">
                <b>{{user.name}}</b><br/>{{user.year_name}}, {{user.branch}}
            </div>
          </ion-item>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPagesLogIn" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
          <!-- <ion-badge *ngIf="p.badge" color="praimary" item-end>{{p.badge}}</ion-badge> -->
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
          <ion-list-header>
            Help
          </ion-list-header>
          <button ion-item menuClose *ngFor="let p of permanentPages" (click)="openPage(p)" >
              <ion-icon *ngIf="p.icon" item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
              <img *ngIf="p.image_icon" [src]="p.image_icon" item-start style="height:28px;width:28px;border-radius: 50%;margin-right:30px"/>
              {{p.title}}
            </button>
        </ion-list>

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>