<ion-header>
<ion-header>
  <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" end (click)="goBack()"></ion-icon>
</ion-header>
</ion-header>

<ion-content padding>


  <form #submitForm="ngForm" novalidate (ngSubmit)="uploadFile(submitForm.value)">
    <ion-list no-lines>
      <ion-item>
        <ion-label stacked color="primary">Title</ion-label>
        <ion-input type="text" name="title" placeholder="atleast 10 characters" ngModel></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Description</ion-label>
        <ion-textarea name="description" placeholder="atleast 30 characters" rows="6" ngModel required></ion-textarea>
      </ion-item>
      <ion-item>
          <ion-label stacked color="primary">Choose category</ion-label>
          <ion-select name="category" placeholder="tap to select" ngModel>
              <ion-option *ngFor="let category of categories" value={{category.id}}>{{category.name}}</ion-option>
              <!-- <ion-option value="1" selected="true">Books</ion-option>
              <ion-option value="3">Accessories</ion-option>
              <ion-option value="4">Notes</ion-option>
              <ion-option value="5">Others</ion-option> -->
            </ion-select>
        </ion-item>
      <ion-item>
          <ion-label stacked color="primary">Useful for which Year</ion-label>
          <ion-select multiple="true" name="year" placeholder="tap to select" ngModel>
              <ion-option *ngFor="let year of years" value={{year.name}}>{{year.name}}</ion-option>
              <!-- <ion-option value="1">1st</ion-option>
              <ion-option value="2">2nd</ion-option>
              <ion-option value="3">3rd</ion-option>
              <ion-option value="4">Final</ion-option> -->
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label stacked color="primary">Useful for which Branch</ion-label>
            <ion-select multiple="true" name="branch" placeholder="tap to select" ngModel>
              <ion-option *ngFor="let branch of branches" value={{branch.branch_name}}>{{branch.branch_name}}</ion-option>
<!--               <ion-option value="1">Architecture</ion-option>
              <ion-option value="2">Chemical</ion-option>
              <ion-option value="3">Civil</ion-option>
              <ion-option value="4">Computer Science</ion-option>
              <ion-option value="5">Electrical</ion-option>
              <ion-option value="6">ECC</ion-option>
              <ion-option value="7">ECE</ion-option>
              <ion-option value="8">EEE</ion-option>
              <ion-option value="9">IT</ion-option>
              <ion-option value="10">Mechanical</ion-option>
              <ion-option value="11">Mining</ion-option>
              <ion-option value="12">P&I</ion-option> -->             
            </ion-select>
          </ion-item>
    </ion-list>
    <div padding>
      <button ion-button type="submit">Submit</button>
    </div>
  </form>

</ion-content>