page-camera {
    .block{
        position: relative;
        .delete_button{
            position: absolute;
            margin-left: 85%;
            margin-top:5px;
            color: #FFFFFF;
        }
    }
}
