<ion-header>

  <ion-navbar>
    <ion-title>Sent requests</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div align="center" *ngIf="!requests">
    <h3>OOPs!</h3>
    <p>It Seems you didn't send any request yet</p>
  </div>

    <ion-list>
        <ion-item *ngFor="let request of this.requests">
          <ion-thumbnail item-start>
            <img [src]="request.image_url" style="border-radius: 14%" imageViewer/>
          </ion-thumbnail>
          <h2>{{request.title}}</h2>
          <p>{{request.description}}</p>
          <p style="color:#f55f2e;" *ngIf="request.status==-1">Rejected</p>
          <p style="color:#1772cc;" *ngIf="request.status==0">In Progress</p>
          <p style="color:#19d366af;" *ngIf="request.status==1">Accepted</p>
          <p style="font-size: 8px;font-style: italic">REQSTED ON : {{convertTime(request.requested_on) | date:'mediumDate' }}</p>
          <button ion-button clear item-end *ngIf="request.status == 1" (click)="view(request)">View</button>
        </ion-item>
    </ion-list>

</ion-content>
