page-developer {
    #welcome{
       background: color($colors , background);
       -webkit-background-size: cover;
       -moz-background-size:cover;
       -o-background-size: cover;
       h1{
           font-size: 32px;
           margin: 50px;
       }  
    }
   }
   