page-welcome {
 #welcome{
    background: color($colors , background);
    background: url("/assets/imgs/background_image.jpg") no-repeat 70% 0%;
    -webkit-background-size: cover;
    -moz-background-size:cover;
    -o-background-size: cover;
    h1{
        font-size: 32px;
        margin: 50px;
    }  
 }
}
