<ion-header>
  <ion-navbar *ngIf="item">
    <ion-avatar>
      <img [src]="item.user_image_url" imageViewer/>
    </ion-avatar>
    <ion-title>{{item.username_fk}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="about-header" *ngIf="item">
    <img [src]="content.image_url" [alt]="Image" imageViewer/>
  </div>
  <div padding class="about-info" *ngIf="item">
    <h2>{{item.title}}</h2>
    <p>
      {{item.description}}
    </p>
    <h4>Useful for : </h4>
    <h5>Branches : </h5>
    <ion-item *ngFor="let b of item.useful_branch">
      <ion-list>
        <ion-item>
          <p>{{b}}</p>
        </ion-item>
      </ion-list>
    </ion-item>

    <h5>Year : </h5>
    <ion-item *ngFor="let b of item.useful_year">
      <ion-list>
        <ion-item>
          <p>{{b}}</p>
        </ion-item>
      </ion-list>
    </ion-item>
  </div>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="sendRequest()">Send Request</button>
</ion-footer>