<ion-header>
  <ion-navbar *ngIf="item">
    <div class="nav-header">
      <div class="user-image">
          <img [src]="item.user_image_url" imageViewer/>  
      </div>
      <div class="username">
          <p>{{item.username_fk}}</p>
      </div>
    </div>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header" align="center" style="max-width: 500px;display: block;margin:auto" *ngIf="item">
    <img [src]="item.image_url" imageViewer/>
  </div>
  <div padding class="about-info" *ngIf="item">
    <h2>{{item.title}}</h2>
    <p>
      <span style="white-space: pre-line">{{item.description}}</span>
    </p>
    <h4>Useful for : </h4>
    
    <h5>Branches : </h5>
    <p> <span *ngFor="let b of useful_branch">&nbsp;&nbsp;{{b}}&nbsp;&nbsp;</span></p>
    <h5>Year : </h5>
    <p><span *ngFor="let b of useful_year">&nbsp;&nbsp;{{b}}&nbsp;&nbsp;</span></p>
  </div>
</ion-content>

<ion-footer>
  <button ion-button full clear (click)="sendRequest()">Send Request</button>
</ion-footer>