page-description{
  .nav-header{
    .user-image{
      width:40px;
      float:left;
      margin-top:-10px;
      margin-left:-12px;
      img{
        border-radius: 50%;
      }
    }
    .username{
      margin-left: 40px;
      p{
        color:white;
        font-size:14px;
      }
    }

  }
}