<ion-header>
  <ion-navbar>
    <ion-title *ngIf="user">{{user.username}}</ion-title>
      <ion-buttons end>
        <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
          Save
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <div class="user-profile-pic" align="center" *ngIf="user">
      <input type="file" #fileInput style="visibility: hidden;width: 0px; height: 0px;" name="files[]" (change)="processWebImage($event)" />
      <img [src]="user.user_image_url" style="width:96px;height:96px;border-radius: 50%;display: inline-block;" imageViewer/><br/>
      <button ion-button clear (click)="getPicture()" [disabled]="isProfilePicUploading==true">Change Image</button>
    </div>

    <div class="user-data" align="center" *ngIf="user">
      <h3>{{user.name}}&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon ios="ios-create" md="md-create"></ion-icon></h3>
      <p>+91&nbsp;&nbsp;{{user.phone_number}}&nbsp;&nbsp;&nbsp;<ion-icon ios="ios-create" md="md-create"></ion-icon></p>
    </div>

</ion-content>
