<ion-header>
  <ion-navbar>
    <ion-title>{{account.username}}</ion-title>
      <ion-buttons end>
        <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
          Save
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <div class="user-profile-pic" align="center">
      <input type="file" #fileInput style="visibility: hidden;width: 0px; height: 0px;" name="files[]" (change)="processWebImage($event)" />
      <img [src]="account.user_image_url" style="width:96px;height:96px;border-radius: 50%;display: inline-block;" imageViewer/><br/>
      <button ion-button clear (click)="getPicture()" [disabled]="isProfilePicUploading">Change Image</button>
    </div>

    <div class="user-data" align="center">
      <h3>{{account.name}}&nbsp;&nbsp;&nbsp;&nbsp;<ion-icon ios="ios-create" md="md-create"></ion-icon></h3>
      <p>+91&nbsp;&nbsp;{{account.phone_number}}&nbsp;&nbsp;&nbsp;<ion-icon ios="ios-create" md="md-create"></ion-icon></p>
      
    </div>


    <!-- <form *ngIf="form" [formGroup]="form" (ngSubmit)="createItem()">
        <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
        <div class="profile-image-wrapper" (click)="getPicture()">
          <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
            <ion-icon name="add"></ion-icon>
            <div>
              Add Image
            </div>
          </div>
          <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
        </div>

        <ion-list>
          <ion-item>
            <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="text" placeholder="About" formControlName="about"></ion-input>
          </ion-item>
        </ion-list>
      </form>

      <button ion-button full (click)="save()">Save</button> -->


  <!-- design this page later -->

</ion-content>
