<ion-header>

  <ion-navbar>
    <ion-title>Forgot Credentials</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!isUserFound">
    <ion-label color="primary">Enter your username : </ion-label>
    <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
    <div align="center">
        <p *ngIf="message" style="color:crimson;font-size: 10px">{{message}}</p>
      <button ion-button round outline (click)="findUser()">Next&nbsp;&nbsp;&nbsp;<ion-icon name="ios-arrow-round-forward-outline"></ion-icon></button>
    </div>
  </div>
  
  <div *ngIf="isUserFound" >
    <ion-label color="primary">Change your password :</ion-label>
    <ion-item size="10px">
        <ion-input [type]="type" placeholder="Enter new password" [(ngModel)]="newPassword"></ion-input>
        <ion-icon item-end [name]="eyeIcon" (click)="changeType()" color="primary"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-input [type]="type" placeholder="Confirm new password" [(ngModel)]="cnfNewPassword"></ion-input>
    </ion-item>
    
    <div align="center">
        <p align="center" *ngIf="message" style="color:crimson;font-size: 10px">{{message}}</p>
        <button ion-button round outline (click)="resetPassword()">Reset Password</button>
    </div>
  </div>

</ion-content>
