<ion-header>

  <ion-navbar>
    <ion-title>Posted Products</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="classReference.posted_products.length == 0" align="center">
    <h3>OOPs!</h3>
    <p>It Seems you do not post any product yet</p>
    <img src="assets/imgs/sad_boy.jpg"/>
    <ion-note bottom>Note: You have to post some products if you want to send more than 5 requests to other users</ion-note>
  </div>

  <ion-list>
      <ion-item-sliding *ngFor="let item of classReference.posted_products;let i = index">
          <button ion-item (click)="openItem(item,i)">
            <ion-avatar item-start>
              <img [src]="item.image_url" imageViewer/>
            </ion-avatar>
            <h2>{{item.title}}</h2>
            <p style="font-size: 8px;font-style: italic">POSTED ON : {{this.convertTime(item.created) | date:'short'}}</p>
            <p style="font-size: 8px;color: royalblue; " *ngIf="item.total_requests > 0"><ion-icon ios="ios-arrow-down" md="md-arrow-down"></ion-icon>&nbsp;{{item.total_requests}} request</p>
            <div style="width:10px;height:10px; border-radius:50%;background-color: chartreuse;" *ngIf="item.is_hidden == 0" item-end></div>
            <div style="width:10px;height:10px; border-radius:50%;background-color:orangered;" *ngIf="item.is_hidden == 1" item-end></div>
          
          </button>
    
          <ion-item-options>
            <button ion-button color="danger" (click)="deleteItem(item)">
              DELETE
            </button>
          </ion-item-options>
        </ion-item-sliding>
  </ion-list>

</ion-content>
